@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
.mi-cuenta {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #8acac8;
  font-style: italic;
  padding: 10px;
  z-index: 9999; }
  .mi-cuenta a {
    color: #5c6670;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300; }
    .mi-cuenta a:last-child {
      padding-left: 10px; }
  .mi-cuenta .navbar-header {
    float: left; }

.brand {
  margin-top: -30px; }

.navbar {
  margin-bottom: 0 !important;
  min-height: 45px !important;
  border: 0px !important; }

#navbar {
  border-bottom: 1px solid #64c8c8;
  padding: 0; }
  #navbar li {
    padding-right: 5px; }
    #navbar li a {
      background-color: #f0fafa;
      font-family: 'Lato', sans-serif;
      font-size: 17px;
      font-weight: 500;
      color: #5c6670; }
    #navbar li:last-child {
      padding-right: 0; }

.dropdown-menu {
  margin: 1px 0 0 !important;
  border: 0px !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  width: calc(100% - 5px); }
  .dropdown-menu li {
    padding-right: 0 !important; }
    .dropdown-menu li a {
      padding: 7px 5px;
      background-color: #fff !important;
      font-family: 'Lato', sans-serif;
      font-size: 13px !important;
      font-weight: 500 !important;
      text-align: center !important;
      text-transform: capitalize; }
      .dropdown-menu li a:hover, .dropdown-menu li a:focus {
        background-color: #f0fafa !important; }
  .dropdown-menu:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(100, 200, 200, 0);
    border-bottom-color: #64c8c8;
    border-width: 10px;
    margin-left: -10px; }

#carousel {
  margin-bottom: 5px; }

.carousel .carousel-indicators {
  left: initial !important;
  right: 10px !important;
  width: auto !important;
  bottom: 0 !important; }
  .carousel .carousel-indicators li {
    background: transparent url("../../assets/img/icon-slider.png") no-repeat center !important;
    width: 9px !important;
    height: 13px !important;
    border: 0px !important; }
  .carousel .carousel-indicators .active {
    background: transparent url("../../assets/img/icon-slider-hover.png") no-repeat center !important; }
.carousel .carousel-inner .item .carousel-caption {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important; }
  .carousel .carousel-inner .item .carousel-caption .tenor {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 34px;
    padding-right: 20px;
    padding-left: 20px;
    color: #fff; }

.lst-products .item {
  cursor: pointer; }
  .lst-products .item .row {
    padding-right: 3px; }
  .lst-products .item .info {
    background: #d9c3ab;
    color: #5c6670;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 3px);
    padding: 5px 0;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 500; }
    .lst-products .item .info a {
      background-color: #fff;
      border-radius: 50px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      font-family: 'Lato', sans-serif;
      font-size: 38px;
      font-weight: 700;
      line-height: 21px;
      padding: 1px 2px 3px;
      color: #a2dede; }
      .lst-products .item .info a:hover, .lst-products .item .info a:focus {
        text-decoration: none; }
.lst-products .hidden-lg .info {
  padding-right: 5px;
  padding-left: 5px; }
.lst-products .carousel-item .carousel .item .info {
  bottom: 2px !important;
  padding: 8px 5px 7px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300; }
  .lst-products .carousel-item .carousel .item .info a {
    background-color: #fff;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 21px;
    padding: 1px 2px 3px;
    color: #a2dede; }
    .lst-products .carousel-item .carousel .item .info a:hover, .lst-products .carousel-item .carousel .item .info a:focus {
      text-decoration: none; }

footer {
  color: #5c6670;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer a {
    color: #5c6670;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500; }
    footer a img {
      width: 24px; }

@media screen and (max-width: 321px) {
  #carousel .carousel-inner .item .carousel-caption .tenor {
    font-size: 80% !important;
    line-height: 120%;
    font-weight: 500; }

  .lst-products .item .info {
    font-family: 'Lato', sans-serif;
    font-size: 15px !important;
    font-weight: 500;
    padding-right: 10px !important; }
    .lst-products .item .info a {
      right: 4px;
      top: 9px; } }
@media screen and (max-width: 767px) {
  .navbar-toggle {
    margin-top: 0 !important;
    padding: 2px 0px !important; }
    .navbar-toggle .icon-bar {
      width: 26px !important;
      height: 4px !important;
      background-color: #e1f2f2; }

  header {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    header .mi-cuenta {
      background-color: #f0fafa; }
    header .navbar {
      min-height: auto !important; }
      header .navbar #navbar li {
        padding-right: 0px !important; }
    header .brand {
      padding: 5px 0;
      margin-top: 0px !important; }

  .dropdown-menu {
    position: relative !important;
    margin-bottom: 15px !important;
    box-shadow: none !important;
    width: 100% !important; }
    .dropdown-menu:after {
      visibility: hidden; }

  #carousel {
    margin-bottom: 10px; }
    #carousel .carousel-inner .item .carousel-caption {
      height: 100%;
      padding-bottom: 0;
      padding-top: 0; }
      #carousel .carousel-inner .item .carousel-caption .tenor {
        font-size: 140%;
        font-style: italic;
        line-height: 120%;
        font-weight: 500;
        padding-left: 0;
        padding-right: 0; }

  .lst-products .item {
    margin-bottom: 3px; }
    .lst-products .item .img-responsive {
      width: 100%; } }
@media (min-width: 768px) and (max-width: 991px) {
  #carousel {
    margin-bottom: 10px; }
    #carousel .carousel-inner .item .carousel-caption {
      height: 100%;
      padding-bottom: 0;
      padding-top: 0; }
      #carousel .carousel-inner .item .carousel-caption .tenor {
        font-size: 160%;
        font-style: italic;
        line-height: 120%;
        font-weight: 500;
        padding-left: 0;
        padding-right: 0; }

  .lst-products .item {
    margin-bottom: 5px; }
    .lst-products .item .img-responsive {
      width: 100%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 956px !important; } }
@media (min-width: 1200px) {
  .container {
    width: 956px !important; } }

/*# sourceMappingURL=ekala.css.map */
