@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
input[type="radio"] {
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #d9c3ab;
  display: inline-block;
  position: relative;
  top: 8px;
  margin: 0 10px;
  padding: 5px !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.btn-radio {
  border: 2px solid #8acac8 !important; }

input[type="radio"]:checked {
  background-color: #d9c3ab;
  border: 2px solid #d9c3ab; }

.btn-radio:checked {
  background-color: #8acac8 !important;
  border: 2px solid #8acac8 !important; }

.img-center {
  margin: 0 auto; }

.number-spinner {
  width: 50%;
  color: #8acac8;
  float: left; }
  .number-spinner .input-group-btn {
    vertical-align: top; }
  .number-spinner .btn {
    background-color: transparent;
    padding: 0; }
  .number-spinner .form-control {
    padding: 0;
    height: auto !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border: 0 !important; }

#login {
  background-color: #e0f4f3;
  display: none;
  width: 100%;
  position: relative; }
  #login > div {
    padding: 15px 0; }
    #login > div button.login {
      background-color: transparent;
      border: 0;
      color: #a3a8ac;
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: 500; }
    #login > div form .form-group {
      margin-bottom: 5px; }
      #login > div form .form-group .control-label {
        text-align: right;
        color: #8acac8;
        font-style: italic;
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        font-weight: 500; }
      #login > div form .form-group .form-control {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        border-radius: 0px !important;
        border: 0; }
      #login > div form .form-group .btn {
        background-color: #a2dede;
        color: #fff;
        font-style: italic;
        letter-spacing: .18rem;
        border: 0;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        border-radius: 0px !important; }
      #login > div form .form-group a {
        font-style: italic;
        letter-spacing: .18rem;
        padding-right: 10px;
        color: #8acac8; }

.mi-cuenta {
  font-style: italic;
  padding: 10px;
  z-index: 9999; }
  .mi-cuenta a {
    color: #8acac8;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700; }
    .mi-cuenta a:nth-child(3) {
      color: #5c6670;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 300; }
  .mi-cuenta .navbar-header {
    float: left; }

.brand {
  margin-top: -30px; }

.navbar {
  margin-bottom: 0 !important;
  min-height: 45px !important;
  border: 0px !important; }

#navbar {
  border-bottom: 1px solid #64c8c8;
  padding: 0; }
  #navbar li {
    padding-right: 5px; }
    #navbar li a {
      background-color: #f0fafa;
      font-family: 'Lato', sans-serif;
      font-size: 17px;
      font-weight: 500;
      color: #5c6670; }
    #navbar li:last-child {
      padding-right: 0; }

.dropdown-menu {
  margin: 1px 0 0 !important;
  border: 0px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  width: calc(100% - 5px); }
  .dropdown-menu li {
    padding-right: 0 !important; }
    .dropdown-menu li a {
      padding: 7px 5px;
      background-color: #fff !important;
      font-family: 'Lato', sans-serif;
      font-size: 13px !important;
      font-weight: 500 !important;
      text-align: center !important;
      text-transform: capitalize; }
      .dropdown-menu li a:hover, .dropdown-menu li a:focus {
        background-color: #f0fafa !important; }
  .dropdown-menu:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(100, 200, 200, 0);
    border-bottom-color: #64c8c8;
    border-width: 10px;
    margin-left: -10px; }

#carousel {
  margin-bottom: 5px; }

.carousel .carousel-indicators {
  left: initial !important;
  right: 10px !important;
  width: auto !important;
  bottom: 0 !important; }
  .carousel .carousel-indicators li {
    background: transparent url("../../assets/img/icon-slider.png") no-repeat center !important;
    width: 9px !important;
    height: 13px !important;
    border: 0px !important; }
  .carousel .carousel-indicators .active {
    background: transparent url("../../assets/img/icon-slider-hover.png") no-repeat center !important; }
.carousel .carousel-inner .item .carousel-caption {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important; }
  .carousel .carousel-inner .item .carousel-caption .tenor {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 34px;
    padding-right: 20px;
    padding-left: 20px;
    color: #fff; }

.register h3 {
  border-bottom: 1px solid #d9c3ab;
  color: #d9c3ab;
  padding: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  font-weight: 300; }
.register .form-horizontal {
  position: relative;
  width: 100%;
  float: left; }
.register .form-group {
  position: relative;
  float: left;
  color: #a3a8ac;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300 !important; }
  .register .form-group .control-label {
    color: #8acac8;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300; }
  .register .form-group .form-control {
    border-color: #d9c3ab;
    margin-bottom: 5px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important; }
  .register .form-group button.btn {
    color: #fff;
    background-color: #8acac8;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 500; }
  .register .form-group button.btn-link {
    background-color: transparent;
    border-bottom: 1px solid #a3a8ac;
    color: #a3a8ac;
    padding: 2px 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300; }
    .register .form-group button.btn-link:hover, .register .form-group button.btn-link:focus {
      text-decoration: none; }
  .register .form-group .radio {
    padding-right: 0 !important;
    padding-left: 0 !important; }
    .register .form-group .radio label {
      font-weight: 300 !important; }
  .register .form-group hr {
    border-top: 0;
    border-bottom: 1px solid #d9c3ab; }
.register .terminos {
  border-top: 1px solid #d9c3ab;
  color: #d9c3ab;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 500; }
.register .terms {
  color: #d9c3ab;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 500; }

.information {
  padding-top: 30px;
  padding-bottom: 50px; }
  .information h2 {
    color: #d9c3ab;
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    font-weight: 500; }
  .information h3 {
    color: #8acac8;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500; }
  .information p {
    color: #a3a9ac;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300; }
    .information p img {
      margin-right: 20px; }
  .information .sub-menu ul {
    margin-top: 20px; }
    .information .sub-menu ul li > a, .information .sub-menu ul li > .active {
      color: #8acac8;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 300; }
      .information .sub-menu ul li > a:hover, .information .sub-menu ul li > a:focus, .information .sub-menu ul li > .active:hover, .information .sub-menu ul li > .active:focus {
        font-style: italic;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 500; }
  .information .products h2 {
    margin-bottom: 60px; }
    .information .products h2 span {
      font-size: 20px;
      margin: 0 10px;
      color: #8acac8; }
    .information .products h2 a {
      color: #8acac8;
      font-family: 'Lato', sans-serif;
      font-size: 27px;
      font-weight: 300; }
  .information .products .info-products, .information .products .info-product {
    background-color: #f9f9f9;
    padding: 10px 20px; }
    .information .products .info-products p, .information .products .info-product p {
      text-align: justify !important; }
    .information .products .info-products h4, .information .products .info-product h4 {
      color: #8acac8;
      margin: 30px 0 20px;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 500; }
    .information .products .info-products .relations .item hr, .information .products .info-products .comments .item hr, .information .products .info-product .relations .item hr, .information .products .info-product .comments .item hr {
      border-top: 0;
      border-bottom: 5px solid #f0fafa; }
    .information .products .info-products .relations .item h5, .information .products .info-products .comments .item h5, .information .products .info-product .relations .item h5, .information .products .info-product .comments .item h5 {
      color: #8acac8;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 300; }
    .information .products .info-products .relations .item .price, .information .products .info-products .comments .item .price, .information .products .info-product .relations .item .price, .information .products .info-product .comments .item .price {
      color: #a3a8ac;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 300; }
    .information .products .info-products .relations .item a > img, .information .products .info-products .comments .item a > img, .information .products .info-product .relations .item a > img, .information .products .info-product .comments .item a > img {
      width: 24px; }
  .information .products .info-product {
    background-color: transparent !important; }
    .information .products .info-product .link-fav {
      border-left: 1px solid #8acac8;
      padding: 0 10px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #8acac8;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 500; }
    .information .products .info-product .add {
      color: #7c848c;
      font-style: italic;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 300; }
    .information .products .info-product .mrg {
      margin: 10px 0; }
    .information .products .info-product .info h4 {
      margin: 0 0 10px; }
    .information .products .info-product .info ul {
      padding-left: 20px; }
      .information .products .info-product .info ul li {
        color: #a3a9ac;
        display: block;
        position: relative;
        font-weight: 300; }
        .information .products .info-product .info ul li:after {
          content: "•";
          position: absolute;
          color: #8acac8;
          top: 0;
          right: 102%;
          font-size: 15px;
          line-height: 20px; }
    .information .products .info-product .redes {
      margin: 10px 0; }
      .information .products .info-product .redes a img {
        height: 24px; }
    .information .products .info-product .relations, .information .products .info-product .comments {
      position: relative;
      float: left; }
      .information .products .info-product .relations h4, .information .products .info-product .comments h4 {
        text-align: center;
        padding: 5px 0;
        margin: 10px;
        border-bottom: 1px solid #8acac8; }
      .information .products .info-product .relations .item .number-spinner, .information .products .info-product .comments .item .number-spinner {
        float: left; }
    .information .products .info-product .comments h4 {
      margin-bottom: 0; }
    .information .products .info-product .comments form.form-horizontal .control-label {
      padding-top: 0;
      padding-left: 0;
      padding-right: 10px; }
    .information .products .info-product .comments .form-group > div[class*='col-'] {
      padding-right: 10px;
      padding-left: 10px; }
    .information .products .info-product .comments .form-control, .information .products .info-product .comments .btn {
      background-color: #fef9f4;
      border: 0px;
      -webkit-border-radius: 0px !important;
      -moz-border-radius: 0px !important;
      -ms-border-radius: 0px !important;
      -o-border-radius: 0px !important;
      border-radius: 0px !important; }
    .information .products .info-product .comments .btn {
      min-width: 100%;
      color: #d9c3ab;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 500; }
    .information .products .info-product .comments .item h6 {
      color: #8acac8;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 300; }
  .information .sidebar-submenu .row {
    padding-right: 15px !important; }
  .information .sidebar-submenu ul li {
    padding: 3px 0;
    border-bottom: 1px solid #8acac8; }
    .information .sidebar-submenu ul li:first-child {
      border-top: 1px solid #8acac8; }
    .information .sidebar-submenu ul li a {
      color: #5e676f;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      font-weight: 500; }
      .information .sidebar-submenu ul li a:hover, .information .sidebar-submenu ul li a:focus {
        color: #8acac8; }
    .information .sidebar-submenu ul li .active {
      color: #8acac8; }
  .information .sidebar-submenu .list-account li {
    border-bottom: 1px solid #d9c3ab; }
    .information .sidebar-submenu .list-account li:first-child {
      border-top: 1px solid #d9c3ab; }
  .information .sidebar-feature .item-feature h6, .information .sidebar-feature .item-feature a {
    color: #a3a8ac;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .information .sidebar-feature .item-feature h5 {
    display: none;
    color: #a3a8ac;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .information .info-category .item-category {
    margin-bottom: 10px; }
    .information .info-category .item-category hr {
      border-top: 5px solid #f0fafa;
      border-bottom: none; }
    .information .info-category .item-category h3 {
      text-align: center;
      border-bottom: 0; }
      .information .info-category .item-category h3 a {
        color: #64c8c8;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: 500; }
      .information .info-category .item-category h3:after {
        border-color: transparent !important; }
  .information .lst-subcategory .item-subcategory hr {
    border-top: 0;
    border-bottom: 5px solid #f0fafa; }
  .information .lst-subcategory .item-subcategory h5 {
    color: #8acac8;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300; }
  .information .lst-subcategory .item-subcategory .price {
    color: #7c848c;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300; }
  .information .lst-subcategory .item-subcategory .number-spinner {
    float: left;
    width: 50%;
    color: #8acac8; }
    .information .lst-subcategory .item-subcategory .number-spinner .input-group-btn {
      vertical-align: top; }
    .information .lst-subcategory .item-subcategory .number-spinner .btn {
      background-color: transparent;
      padding: 0; }
    .information .lst-subcategory .item-subcategory .number-spinner .form-control {
      padding: 0;
      height: auto !important;
      background-color: transparent !important;
      box-shadow: none !important;
      border: 0 !important; }
  .information .lst-subcategory .item-subcategory a > img {
    width: 24px; }
  .information .lst-subcategory .item-subcategory .discount {
    background-color: #8acac8;
    color: #fff;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 300; }
    .information .lst-subcategory .item-subcategory .discount span {
      display: block;
      padding: 2px 5px;
      background-color: #d9c3ab; }
      .information .lst-subcategory .item-subcategory .discount span:after {
        left: 48px;
        top: 0px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #D9C3AB;
        border-left-width: 1px;
        margin-top: 0;
        border-top-color: #D9C3AB;
        border-top-width: 17px; }
  .information .my-account h3 {
    margin: 0 0 20px;
    text-align: center;
    color: #8acac8;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500; }

.lst-products .item {
  cursor: pointer; }
  .lst-products .item .row {
    padding-right: 3px; }
  .lst-products .item .info {
    background: #d9c3ab;
    color: #5c6670;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 3px);
    padding: 5px 0;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 500; }
    .lst-products .item .info a {
      background-color: #fff;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      border-radius: 50px;
      font-family: 'Lato', sans-serif;
      font-size: 38px;
      font-weight: 700;
      line-height: 21px;
      padding: 1px 2px 3px;
      color: #a2dede; }
      .lst-products .item .info a:hover, .lst-products .item .info a:focus {
        text-decoration: none; }
.lst-products .hidden-lg .info {
  padding-right: 5px;
  padding-left: 5px; }
.lst-products .carousel-item .carousel .item .info {
  bottom: 2px !important;
  padding: 8px 5px 7px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300; }
  .lst-products .carousel-item .carousel .item .info a {
    background-color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 21px;
    padding: 1px 2px 3px;
    color: #a2dede; }
    .lst-products .carousel-item .carousel .item .info a:hover, .lst-products .carousel-item .carousel .item .info a:focus {
      text-decoration: none; }

footer {
  color: #5c6670;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding-top: 50px !important;
  padding-bottom: 20px !important; }
  footer a {
    color: #5c6670;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500; }
    footer a img {
      width: 24px; }

@media screen and (max-width: 360px) {
  #carousel .carousel-inner .item .carousel-caption .tenor {
    font-size: 80% !important;
    line-height: 120%;
    font-weight: 500; }

  .lst-products .item .info {
    font-family: 'Lato', sans-serif;
    font-size: 15px !important;
    font-weight: 500;
    padding-right: 10px !important; }
    .lst-products .item .info a {
      right: 4px;
      top: 9px; }

  .information h3 {
    font-size: 20px; }
  .information .products .info-products .relations .item .number-spinner {
    width: 65%;
    float: left; }
  .information .products h2 .glyphicon {
    display: none; }
  .information .products h2 a {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #8acac8; }
    .information .products h2 a:hover, .information .products h2 a:focus {
      text-decoration: none; }
    .information .products h2 a:after {
      top: 75%;
      right: 10%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #8acac8;
      border-width: 10px;
      margin-left: -10px; }
  .information .products .sidebar-feature .item-feature {
    margin-bottom: 10px; }
    .information .products .sidebar-feature .item-feature img {
      width: 30%;
      float: left;
      padding-right: 5px;
      display: inline-block; }
    .information .products .sidebar-feature .item-feature h6 {
      display: none; }
    .information .products .sidebar-feature .item-feature h5 {
      display: block;
      color: #8acac8;
      text-align: justify;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      font-weight: 300; }
      .information .products .sidebar-feature .item-feature h5 a {
        color: #8acac8;
        font-size: 12px; }
  .information .products .info-product {
    padding: 0; }
    .information .products .info-product h3 {
      border-bottom: 0px; }
      .information .products .info-product h3:after {
        border-top-color: transparent; }
    .information .products .info-product .relations .item {
      padding: 0 5px; }

  .lst-subcategory {
    padding: 0 !important; }
    .lst-subcategory .item-subcategory {
      padding: 0 5px; }
      .lst-subcategory .item-subcategory .number-spinner {
        width: 67% !important; }
      .lst-subcategory .item-subcategory .discount {
        font-family: 'Lato', sans-serif;
        font-size: 11px !important;
        font-weight: 300; }
        .lst-subcategory .item-subcategory .discount span {
          display: block;
          padding: 2px 5px;
          background-color: #d9c3ab; }
          .lst-subcategory .item-subcategory .discount span:after {
            left: 43px !important; } }
@media (min-width: 361px) and (max-width: 480px) {
  #carousel .carousel-inner .item .carousel-caption .tenor {
    font-size: 100% !important;
    line-height: 120%;
    font-weight: 500; }

  .information .products .info-products .relations .item .number-spinner {
    width: 65%;
    float: left; }
  .information .products .info-product h3 {
    border-bottom: 0px; }
    .information .products .info-product h3:after {
      border-top-color: transparent; } }
@media screen and (max-width: 767px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important; }

  .navbar-toggle {
    margin-top: 0 !important;
    padding: 2px 0px !important; }
    .navbar-toggle .icon-bar {
      width: 26px !important;
      height: 4px !important;
      background-color: #e1f2f2; }

  header {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    header .mi-cuenta {
      background-color: #f0fafa; }
    header .navbar {
      min-height: auto !important; }
      header .navbar #navbar li {
        padding-right: 0px !important; }
    header .brand {
      padding: 5px 0;
      margin-top: 0px !important; }

  .dropdown-menu {
    position: relative !important;
    margin-bottom: 15px !important;
    box-shadow: none !important;
    width: 100% !important; }
    .dropdown-menu:after {
      visibility: hidden; }

  #carousel {
    margin-bottom: 10px; }
    #carousel .carousel-inner .item .carousel-caption {
      height: 100%;
      padding-bottom: 0;
      padding-top: 0; }
      #carousel .carousel-inner .item .carousel-caption .tenor {
        font-size: 140%;
        font-style: italic;
        line-height: 120%;
        font-weight: 500;
        padding-left: 0;
        padding-right: 0; }

  .lst-products .item {
    margin-bottom: 3px; }
    .lst-products .item .img-responsive {
      width: 100%; }

  .information h3 {
    font-weight: 300;
    border-bottom: 1px solid #8acac8; }
    .information h3:after {
      top: 30%;
      right: 15px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(138, 202, 200, 0);
      border-top-color: #8acac8;
      border-width: 10px;
      margin-left: -10px; }
  .information .products h2 {
    margin-bottom: 20px;
    padding: 0; }
  .information .products .info-products {
    padding: 10px 0px; }
    .information .products .info-products img {
      margin-bottom: 20px; }
    .information .products .info-products .relations h4 {
      margin: 10px 0 20px;
      padding: 0 15px; }
  .information .sidebar-feature {
    padding: 20px 0;
    background-color: #f8fcfc; }
  .information .info-product h3 {
    border-bottom: 0px; }
    .information .info-product h3:after {
      border-top-color: transparent; }
  .information .my-account {
    padding: 0; }
    .information .my-account h3:after {
      border-top-color: none; }

  footer {
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
    footer > div {
      text-align: center !important;
      padding: 2px 0; }
      footer > div a img {
        width: 36px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #carousel {
    margin-bottom: 10px; }
    #carousel .carousel-inner .item .carousel-caption {
      height: 100%;
      padding-bottom: 0;
      padding-top: 0; }
      #carousel .carousel-inner .item .carousel-caption .tenor {
        font-size: 160%;
        font-style: italic;
        line-height: 120%;
        font-weight: 500;
        padding-left: 0;
        padding-right: 0; }

  .lst-products .item {
    margin-bottom: 5px; }
    .lst-products .item .img-responsive {
      width: 100%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 956px !important; } }
@media (min-width: 1200px) {
  .container {
    width: 956px !important; } }

/*# sourceMappingURL=ekala.css.map */
